.calculator{
  display: inline;
  float: left;
  width:300px;
  padding:10px;
  border: 1px solid #bdbdbd;
}
.calculator .row{
  display: inline;
  float: left;
  width:100%;
  margin: 10px 0;
}
.calculator .lblInput{
  display: inline;
  float: left;
  width: 40%
}
.calculator .button{
  display:inline;
  float:left;
  width:94%;
  text-align: right;
}